body {font-family: Georgia; font-size:14pt; color: pink; background-color: black;
     }
p {color: white; text-transform: uppercase;
  }
p {text-shadow: 4px 6px 100px; 
  } 
h1,ul {color: deeppink;
      }
ol {color: darkmagenta
   }
body { margin-top: 20px; margin-left 100px; margin-right 100px; margin bottom; 150px;
    } 


	
